@media (max-width:768px){
    .main-menu, .lang-switch{
        display: none;
    }
    .menu-burger{
        display: block;
    }
    .services-cards{
        display: grid;
        grid-template-columns: 100%;
    }
    .company-content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-img{
        width: 100%;
    }
    .our-command{
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width:600px){
    .our-command{
        grid-template-columns: auto;
        justify-content: center;
    }
    .contacts-content{
        grid-template-columns: auto;
    }
    .name{
        min-width: 100%;
    }
}